openapi: 3.0.1

servers:
  - url: 'https://cloud.prd.az.relayr.io/'
    description: KPI retrieval API
  - url: 'https://login.prd.az.relayr.io/'
    description: Auth API

info:
  version: 1.0.0
  title: Franz API
  description: "Franz API enables you to export elevator KPI data. You can request data for one KPI per elevator over the specified timeframe. Franz API will then return a JSON file that details the requested data. 
  
    
  __To start using Franz API:__  
  
  1. Request a bearer (access) token from the `/oauth/token` endpoint using your username and password. Note that the token is active for 100 minutes.
  
  2. Select __Authorize__ and enter the received bearer token."

paths:
  /oauth/token:
    post:
      tags: [Franz API]
      summary: Receive a bearer token
      description:
        Returns an authentication token based on your username and password. The token is valid for 100 minutes. Use the `Auth API` server.
      parameters:
        - $ref: '#/components/parameters/QueryClientId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  example: user@example.com
                  type: string
                password:
                  example: LettersAndNumbers1
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: The bearer token returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: The specified `client_id` is invalid, or some parameters are missing.
        '401':
          description: The provided credentials are invalid.
        'default':
          $ref: '#/components/responses/defaultError'

  /franz/elevators/{elevatorId}/kpis/daily:
    get:
      tags: [Franz API]
      summary: Retrieve the aggregated elevator KPI data for the specified timeframe
      security:
        - Bearer: []
      parameters:
        - name: elevatorId
          in: path
          required: true
          description: "ID of the chosen elevator."
          schema:
            $ref: '#/components/schemas/elevatorId'
        - name: kpi
          in: query
          required: true
          description: "Elevator KPI for which you want to retrieve data."
          schema:
            $ref: '#/components/schemas/kpi'
        - name: startDate
          in: query
          required: true
          description: "Start of the timeframe for which you want to return the raw elevator KPI data. Inclusive. Use the `KPI retrieval API` server."
          schema:
            $ref: '#/components/schemas/date'
        - name: endDate
          in: query
          required: true
          description: "End of the timeframe for which you want to return the raw KPI data. Inclusive."
          schema:
            $ref: '#/components/schemas/date'
      responses:
        '200':
          description: "The elevator KPI data retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kpiData'
        '409':
          description: "Information about the elevator location is missing."
        'default':
          $ref: '#/components/responses/defaultError'

components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer

  parameters:
    QueryClientId:
      name: client_id
      in: query
      required: true
      description: "Specifies the API user type. Use `api-client` by default."
      example: api-client
      schema:
        type: string
        pattern: '^[A-Za-z0-9_.-]+$'

  responses:
    defaultError:
      description: "Something went wrong."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    date:
      type: string
      format: date
      pattern: '([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))$'
      example: '2017-09-18'
    AccessToken:
      type: object
      properties:
        accessToken:
          type: string
          example: 070b35231966488ab07f11822c6ef162
          description: "The bearer token used for authorization. Valid for the duration specified in the `expiresIn` parameter."
        tokenType:
          type: string
          example: Bearer
          description: "Auth token type, currently set to `Bearer` at all times."
        refreshToken:
          type: string
          example: cd98b3dea6044470b0a6dfccc0e370ee-r
          description: "A refresh token that you can use to get a new bearer token."
        expiresIn:
          type: integer
          example: 43199
          description: "Time, during which the bearer token is valid after being issued. Specified in seconds."
    elevatorId:
      description: "ID of the elevator"
      type: string
      example: 'abcdefgh1@mwec23452#@$12'
      maxLength: 64
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          properties:
            id:
              type: string
            message:
              type: string
            details:
              type: string
          required:
            - id
            - message
          example:
            message: Error message
            details: If applicable, specifies additional details about the error.
            id: 113faaa1-6165-4439-93b8-ecfb8febc023
    kpi:
      type: string
      example: 'doorOpeningTimeAverage'
      enum:
        - doorOpeningTimeAverage
        - doorClosingTimeAverage
        - doorCyclesCount
        - distanceTraveledSum
        - tripsCount
    kpiData:
      description: The data and metadata for the requested elevator KPI.
      type: object
      required:
        - data
        - metadata
      properties:
        data:
          $ref: '#/components/schemas/measurementValues'
        metadata:
          $ref: '#/components/schemas/metadata'
    measurementValues:
      description: Data for the requested elevator KPI aggregated over the specified timeframe.
      type: array
      items:
        type: object
        required:
          - date
          - value
        properties:
          date:
            $ref: '#/components/schemas/date'
          value:
            type: number
            example: 4.567
    metadata:
      type: object
      required:
        - unit
      properties:
        unit:
          type: string
          description: >-
            Shorthand notation, e.g. 'km', 'mi', 's'
            Unitless values are indicated with an empty string (e.g a count).
          example: 'mi'